rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Aplicamos a regra de forma recursiva para o usuário e TUDO que estiver dentro dele
    match /users/{userId}/{allPaths=**} {
      
      // Permite ler e escrever se o UID do token for igual ao ID do documento
      allow read, write: if request.auth != null && request.auth.uid == userId;
      
      // Regra específica de criação para garantir que o serverTimestamp passe
      allow create: if request.auth != null && request.auth.uid == userId
        && request.resource.data.createdAt == request.time
        && request.resource.data.updatedAt == request.time;
    }
  }
}
